/* Color palette */
:root {
    --darkHex: #070F2B;
    --primaryHex: #1B1A55;
    --secondaryHex: #535C91;
    --backgroundHex: #9290C3;

    --darkrgb: 7, 15, 43;
    --primaryrgb: 27, 26, 85;
    --secondaryrgb: 83, 92, 145;
    --backgroundrgb: 146, 144, 195;
}

/* fonts  */




/* body to be edited */
body {
    background-color: rgba(var(--backgroundrgb), .5) !important;
}




/* Background Colors */
.ctm-bg-dark {
    background-color: var(--darkHex) !important;
}

.ctm-bg-primary {
    background-color: var(--primaryHex) !important;
}

.ctm-bg-secondary {
    background-color: var(--secondaryHex) !important;
}

.ctm-bg-background {
    background-color: var(--backgroundHex) !important;
}

/* Text Colors */
.ctm-text-dark {
    color: var(--darkHex) !important;
}

.ctm-text-primary {
    color: var(--primaryHex) !important;
}

.ctm-text-secondary {
    color: var(--secondaryHex) !important;
}

.ctm-text-background {
    color: var(--backgroundHex) !important;
}

/* Border Colors */
.ctm-border-dark {
    border-color: var(--darkHex) !important;
}

.ctm-border-primary {
    border-color: var(--primaryHex) !important;
}

.ctm-border-secondary {
    border-color: var(--secondaryHex) !important;
}

.ctm-border-background {
    border-color: var(--backgroundHex) !important;
}