#hero-section{
    height: 100vh;
    background-color: rgba(255,255,255,.34);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
#name-logo{
    height: 92%;
    /* background-color: aquamarine; */
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
#lang-bar{
    height: 8%;
    width: 100%;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* img container */
#img-container{
    height: 100%;
    width: 50%;
    /* background-color: black; */
}
#img-block{
    height: 100%;
    width: 90%;
    border-radius: 100%;
    /* background-color: blue; */

}


/* branding container */
#branding-container{
    height: 100%;
    width: 50%;
    margin-right: 30px;
}
.up-box{
    height: 54%;
    width: 95%;
}
.up-box > .box-1{
    height: 95%;
    width: 100%;
    margin-top: 10px;

}
.down-box{
    height: 44%;
    width: 95%;    
}
.down-box > .box-2{
    width: 60%;
    height: 85%;
    margin-top: 20px;
}
.down-box > .box-3{
    width: 35%;
    height: 85%;
    margin-top: 20px;
}
.text-1{
    font-size: 3.7rem;
}
#text-2{
    font-size: 5rem;
}
.ubox-1{
    height: 100%;
    width: 50%;
}

/* next container */
#con-2{
    height: 90vh;
    background-color: rgba(255,255,255,.34);
    /* border-radius: 50px;    */

}
#sub-container{
    height: 100%;
    border-radius: 50px;
}
#con-2 > #sub-container > .boxx-1{
    height: 90%;
    width: 40%;
    margin-top: 30px;
    border-radius: 50px;
}
#con-2 > #sub-container > .boxx-2{
    height: 90%;
    width: 60%;
    margin-top: 30px;
    border-radius: 50px;
}
#con-2 > #sub-container > .boxx-1 > .sub-boxx1{
    height: 65%;
    width: 100%;
    border-radius: 50px;
    
}
#con-2 > #sub-container > .boxx-1 > .sub-boxx2{
    height: 35%;
    width: 100%;
    border-radius: 50px;
}


/*  */
#con-3{
    height: 90vh;
    background-color: rgba(255,255,255,.34);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

}
#con-3 > #sub-con2{
    height: 100%;
    border-radius: 50px;
}
#left-box{
    height: 95%;
    width: 30%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#right-box{
    height: 95%;
    width: 70%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}